<app-navbar></app-navbar>
<div class="page-content">
  <h1>Select Playlist to Convert</h1>
  <mat-selection-list [multiple]="false">
    <mat-list-option
      *ngFor="let playlist of playlists"
      [value]="playlist.id"
      routerLink="/edit"
      [queryParams]="{ id: playlist.id }"
    >
      <img
        matListAvatar
        [src]="playlist | bestImage"
        alt="Playlist Cover Image"
      />
      <h3 matLine>{{ playlist.name }}</h3>

      <p matLine>
        <a [href]="playlist.external_urls.spotify" target="_blank">
          Play on Spotify
        </a>
      </p>
    </mat-list-option>
  </mat-selection-list>
</div>
