.page-content {
  display: grid;

  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: 2fr 8fr;

  width: 100%;
  height: 100%;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  justify-content: start;

  grid-template-columns: 2fr 6fr 2fr;
  padding: 20px 20px;

  .button-stack {
    &.stack-1 {
      grid-column: 1 / 2;
    }

    &.stack-2 {
      grid-column: 3 / 4;
    }

    display: flex;
    flex-direction: column;

    width: 100%;

    > *:not(:last-child) {
      margin-bottom: 5px;
    }

    > div,
    > div > button {
      width: 100%;
    }
  }

  .instructions {
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mid {
  height: 100%;
  width: 200px;
  display: flex;

  align-items: center;
  justify-content: center;

  grid-column: 2 / 3;
  grid-row: 2 /3;

  mat-icon {
    font-size: 450px;
    width: min-content;
    height: min-content;
  }
}

mat-selection-list {
  grid-column: 1 / 2;
  grid-row: 2 /3;
}

mat-list {
  grid-column: 3 / 4;
  grid-row: 2 /3;
}

@media screen and (max-width: 850px) {
  .mid,
  mat-list {
    display: none;
  }

  .page-content {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto;
  }

  .header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;

    padding: 0 20px;
    text-align: center;

    .button-stack {
      &.stack-1 {
        flex-direction: row;
        margin-top: 5px;
        order: 3;

        > button {
          width: 100%;
          margin: 0;

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }

      &.stack-2 {
        order: 2;
      }
    }

    .instructions {
      order: 1;
    }
  }

  mat-selection-list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 850px) and (max-width: 1100px) {
  .page-content {
    grid-template-columns: 400px 200px 400px;
  }
}
