div.page-content {
  text-align: center;
}

div.login {
  h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    margin: 15 px 5 px;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 15 px 0 25 px;
  }
}
