.page-content {
  justify-content: start;

  text-align: center;
}

form {
  text-align: center;
}

.name-field {
  width: 400px;
}

.button-bar {
  :not(:last-child) {
    margin-right: 10px;
  }
}

mat-slide-toggle {
  margin-left: 20px;
  mat-icon {
    height: 100%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 850px) {
  .page-content {
    padding: 0 50px;
  }

  .row,
  mat-list,
  .button-bar {
    width: 100%;
  }

  .name-field {
    width: 75vw;
  }

  .row {
    flex-direction: column;
  }
}
